@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap');
body{
    background-color: #06082B;
    color:white; 
    font-family: 'Lexend', sans-serif;
}
#country_data{
    position:fixed;
    width: 25%;
    left: 74%;
    top: 0.5%;
    display: block;
    padding-bottom: 20px;
}
.cd_class{
    display: flex;
    flex-wrap: wrap;
    background-color: #06082B;
    margin: 10px auto;
    width: 100%;
    padding: 10px;
}

.grafico_div{
    text-align: center;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
h2 {
    width: 100%;
    text-align: center;
    margin: 5px auto;
}
.selector{
    width: 50%;
    margin: auto;
    text-align: center;
}

.grafico{
    margin: auto;
}

#graph_container{
    margin: 20px auto;
    overflow: scroll;
    height: 90vh;
}
#general-div{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

#graph-buttons{
    width: 70%;
    margin-left: 15px;
    margin-top: 25px;
}
