@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap');
body{
    background-color: #06082B;
    color:white; 
    font-family: 'Lexend', sans-serif;
}
#country_data{
    position: fixed;
    width: 25%;
    left: 75%;
    top: 0%;
    display: block;
}
.cd_class{
    display: flex;
    flex-wrap: wrap;
    background-color: #06082B;
    margin: 10px auto;
    width: 100%;
    padding: 10px;
}

.grafico_div{
    text-align: center;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
h2 {
    width: 100%;
    text-align: center;
    margin: 5px auto;
}
.selector{
    width: 50%;
    margin: auto;
    text-align: center;
}

.grafico{
    margin: auto;
}

#graph_container{
    margin: 20px auto;
    overflow-y: scroll;
    height: 90vh;
}
